.h5p-dialogcards li {
  text-align: left;
}

.h5p-dialogcards .h5p-dialogcards-card-text-wrapper {
  min-height: auto;
  padding: 0;
}

.h5p-dialogcards .h5p-dialogcards-card-text-inner {
  padding: 3em 1.5em;
  position: relative;
}

.h5p-dialogcards .h5p-dialogcards-card-text-inner-content {
  position: relative;
}

.h5p-dialogcards .h5p-dialogcards-card-text {
  height: auto;
}

.h5p-dialogcards.h5p-text-scaling .h5p-dialogcards-card-text-wrapper {
  height: auto;
}

div.h5p-content {
  border-width: 2px 2px 0 2px;
  border-radius: 4px;
  border-color: #94949E;
}

div.h5p-content ul.h5p-actions {
  border-bottom-color: #94949E;
  border-bottom-width: 2px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
} 
