.h5p-dialogcards li{
  text-align: left;
}

.h5p-dialogcards .h5p-dialogcards-card-text-wrapper {
  min-height: auto;
  padding: 0;
}

.h5p-dialogcards .h5p-dialogcards-card-text-inner {
  padding: 0em 1.5em;
}

.h5p-dialogcards .h5p-dialogcards-card-text {
  height: auto;
}

.h5p-dialogcards.h5p-text-scaling .h5p-dialogcards-card-text-wrapper {
  height: auto;
}