.h5p-dialogcards li {
  text-align: left;
}

.h5p-dialogcards .h5p-dialogcards-card-text-wrapper {
  min-height: auto;
  padding: 0;
}

.h5p-dialogcards .h5p-dialogcards-card-text-inner {
  padding: 3em 1.5em;
  position: relative;
}

.h5p-dialogcards .h5p-dialogcards-card-text-inner-content {
  position: relative;
}

.h5p-dialogcards .h5p-dialogcards-card-text {
  height: auto;
}

.h5p-dialogcards.h5p-text-scaling .h5p-dialogcards-card-text-wrapper {
  height: auto;
}
