{
  "presets": [
    [
      "razzle/babel",
      { "runtime": "automatic", "importSource": "@emotion/react" }
    ]
  ],
  "plugins": [
    "@emotion",
    "graphql-tag",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
