{
  "extends": "eslint-config-ndla",
  "rules": {
    "graphql/template-strings": [
      "error",
      {
        "env": "apollo",
        "schemaJsonFilepath": "./src/gqlSchema.json"
      }
    ],
    "react/prop-types": [2, { "ignore": ["children", "className", "t"] }]
  },
  "plugins": ["graphql"],
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
