node_modules
npm-debug.log
yarn-error.log
.DS_Store
/.eslintcache/
*.iml
/.idea
/build/
/coverage/
/build/
/e2e/screenshots
/htdocs/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
