.article {
  padding: 1em;
  max-width: 780px;
  margin: 0 auto;
}

.article img {
  max-width: 100%;
}


.figure_caption {
  display: block;
  font-style: italic;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  font-size: 0.75em;
  font-style: italic;
  font-weight: 400;
}

/** Content hacks (should be fixed in article-api or article-oembed)**/

/* Inngress? */
.article p strong {
  color: #4d4d4d;
  font-size: 1.2em;
  font-weight: 600;
}

.article strong em {
  font-style: normal;
}
