* {
  box-sizing: border-box;
}

body {
  font-family: 'Signika', Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
  color: #303030;
  font-size: 14px;
}


h1 {
  margin-top: 20px;
  font-size: 1.87em;
  font-weight: bold;
}

h2 {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.1em;
}

h3 {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.1em;
}


p {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  font-size: 1em;
}

input {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0,0,0,.03);
  border: 1px solid #888;
  border-radius: 0.331em;
  background: white;
  min-height: 1.5em;
  font-size: 1.3em;
  color: #444;
}

iframe {
  border: none;
}


.one-column {
  flex: 1 0 auto;
}

.one-column--narrow {
  padding-top: 2em;
  width: 600px;
  margin: 0 auto;
}
