.license-toggler {
  margin-left: 0.2em;
  display: inline;
}
.license {
  background: #d2d2d2;
  padding: 1em;
}
.license-section {
  display:flex;

}
.license__action {
  flex-basis: 50%;
  margin: 1em;
  border: 1px solid #000;
}
.license-section {
  margin-bottom: 24px;
}
.license__icon--mini {
  width: 16px;
  height: 16px;
}
.license__icon + .license__icon {
  margin-left: 0.2em;
}
.license__list {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}
.license__list-item {
  margin: 0;
  padding: 0 0 0 1em;
  list-style: none;
}

.license-byline {
  display: table;
}
.license-byline > * {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0.5em 0 0;
}
