.license {
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  margin: 0 -1em;
  transition: all 200ms ease-in;
  font-size: var(--font-size--medium);
}

.license-toggler {
  /* margin: 0 -calc(var(--spacing) * 2.5) 0 0; */
  text-decoration: underline;
  text-align: right;
  float: right;
}

.license__list {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}

.license__list-item {
  margin: 0 0 var(--spacing) 0;
  padding: 0;
  list-style: none;
  display: block;
  overflow: hidden;
}

.license__list-item > img, .license__list-item > div {
  margin: 0 var(--spacing) 0 0;
  width: 45%;
  float: left;
}

.license__heading {
  margin-bottom: var(--spacing);
}

.license-byline {
  display: table;
  margin-bottom: calc(var(--spacing) * 2);
}

.license-byline > * {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0.5em 0 0;
}

.license__list-item > .license-byline > * {
  display: block;
}

.license__textarea {
  width: 100%;
  heigth: 50vh;
}

.license h2 {
  margin-bottom: var(--spacing);
}
