.license {
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  margin-left: -1em;
  margin-right: -1em;
  transition: all 200ms ease-in;
  font-size: var(--font-size--medium);
}
.license-toggler {
  margin-left: 0.2em;
  text-decoration: underline;
  text-align: right;
  float: right;
}
.license-section {
  display:flex;
}
.license__action {
  flex-basis: 50%;
  margin: 1em;
  border: 1px solid #000;
}
.license-section {
  margin-bottom: calc(var(--spacing) * 2);
}
.license__icon--mini {
  width: calc(var(--spacing) * 2);
  height: calc(var(--spacing) * 2);
}
.license__icon + .license__icon {
  margin-left: 0.2em;
}
.license__list {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}
.license__list-item {
  margin: 0 0 var(--spacing) 0;
  padding: 0;
  list-style: none;
  display: block;
  overflow: hidden;

}
.license__list-item > img, .license__list-item > div {
  margin: 0 var(--spacing) 0 0;
  width: 45%;
  float: left;
}
.license__heading {
  margin-bottom: var(--spacing);
}
.license__video {
  position: relative;
  float: left;
  width: 50%;
}
.license__video video {
  position: relative !important;
}
.license-byline {
  display: table;
  margin-bottom: calc(var(--spacing) * 2);
}
.license-byline > * {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0.5em 0 0;
}
.license__list-item > .license-byline > * {
  display: block;

}
.license__textarea {
  width: 100%;
  heigth: 50vh;
}
.license h2 {
  margin-bottom: var(--spacing);
}

/* React Tabs Stylining */
.ReactTabs__TabList {
  font-size: var(--font-size--huge);
  font-weight: 900;
  list-style: none;
  padding: 0;
  border-bottom: 1px var(--brand-color) solid;
}
.ReactTabs__Tab {
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  transform: translateY(3px);
}
.ReactTabs__Tab:hover {
  color: var(--brand-color);
  cursor: pointer;
}
.ReactTabs__Tab + .ReactTabs__Tab {
  margin-left: var(--spacing);
}
.ReactTabs__Tab--selected {
  color: var(--brand-color);
  border-bottom: 5px solid var(--brand-color);
}
.ReactTabs__TabPanel {
  padding: calc(var(--spacing) / 2) var(--spacing);
}
.c-bodybox {
  padding: calc(var(--spacing) * 1.5);
  margin-bottom: var(--spacing);
  border-style: dashed;
  border-color: var(--brand-color);
  border-width: 1px;
}
